Repository SwanseaUniversityMedical/DARE-Control, pull requests merged in 2025-09, with the labels that each got.

#960 Update containers.yaml
  .github/workflows/containers.yaml
Labels: :black_nib: Bad PR Title, patch: containers

#961 fix: camunda dockerfile updated
  src/Tre-Camunda/Dockerfile
Labels: patch: containers

#962 fix: certificates removed from dockerfile
  src/Tre-Camunda/Dockerfile
Labels: patch: containers

#974 fix: remove repeated code
  src/TRE-API/DoAgentWork.cs
Labels: :black_nib: Bad PR Title, minor: containers, released: containers

#979 ci: update containers.yaml for new release target for nottingham
  .github/workflows/containers.yaml
  .github/workflows/sonar.yaml
Labels: major: containers
